@font-face {
  font-family: 'graphik_lcgregular';
  src: url('fonts/graphiklcg-regular-webfont.eot');
  src: url('fonts/graphiklcg-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/graphiklcg-regular-webfont.woff2') format('woff2'),
       url('fonts/graphiklcg-regular-webfont.woff') format('woff'),
       url('fonts/graphiklcg-regular-webfont.svg#graphik_lcgregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
.App {
  font-family: 'graphik_lcgregular';
}
.link-auto {
  pointer-events: auto;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  position: absolute;
  width: 140px;
  height: 20px;
  top: 18px;
  left: 40px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #fff;
}
.link-none {
  pointer-events: none;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  position: absolute;
  width: 140px;
  height: 20px;
  top: 18px;
  left: 40px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #fff;
}
.link {
  text-decoration: none;
  color: #4285F4;
}
.headings-text {
  padding: 0px;
  margin: 0px;
  position: absolute;
  font-size: 18px;
  line-height: 25px;
  color: #484848;
}
.step-heading-text {
  width: 290px;
  height: 25px;
  top: 152px;
  left: 330px;
}
.hrs-step {
  padding: 0px;
  margin: 0px;
  position: absolute;
  border: none;
  border-bottom: #4285F4 5px solid;
}
.step-heading-hr {
  width: 275px;
  height: 3px;
  top: 175px;
  left: 332px;
}
.label-inputs {
  padding: 0px;
  margin: 0px;
  position: absolute;
  height: 18px;
  font-size: 18px;
  line-height: 18px;
  color: #484848;
}
.label-fio {
  width: 206px;
  top: 208px;
  left: 329px;
}
.fio-input {
  padding: 0px;
  margin: 0px;
  position: absolute;
  width: 380px;
  height: 58px;
  top: 231px;
  left: 329px;
}
.errors {
  padding: 0px;
  margin: 0px;
  position: absolute;
  height: 13px;
  line-height: 13px;
  font-size: 13px;
  color: #F44336;
  text-align: right;
}
.error-fio {
  width: 166px;
  top: 294px;
  left: 543px;
}
.label-birthday {
  width: 132px;
  top: 208px;
  left: 729px;
}
.inputs {
  margin: 0px;
  position: absolute;
  padding-left: 20px;
  width: 360px;
  height: 58px;
  font-size: 18px;
  line-height: 25px;
  border-radius: 5px;
}
.inputs::placeholder {
  position: absolute;
  font-size: 18px;
  line-height: 25px;
  color: #979797;
  top: 20px;
  left: 20px;
  opacity: 50%;
}
.inputs:focus {
  outline-color: rgba(66, 133, 244, 50.09%);
}
.input-error {
  border: 1px solid rgba(255, 115, 115, 50.09%);
  color: #484848;
}
.input-success {
  border: 1px solid #3477E4;
  color: #484848;
}
.input-state {
  border: 1px solid #979797;
  color: #979797;
}
.input-birthday {
  top: 231px;
  left: 729px;
}
.input-birthday::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.error-birthday {
  width: 324px;
  top: 294px;
  left: 786px;
}
.label-email {
  top: 319px;
  left: 330px;
  width: 52px;
}
.input-email {
  top: 342px;
  left: 330px;
}
.error-email {
  width: 166px;
  top: 405px;
  left: 544px;
}
.label-inputs-two {
  padding: 0px;
  margin: 0px;
  position: absolute;
  font-size: 13px;
  line-height: 13px;
  color:#979797;
  text-align: right;
}
.label-email-two {
  width: 300px;
  height: 18px;
  top: 321px;
  left: 410px;
}

.passport-number-input {
  top: 498px;
  left: 330px;
}
.label-passport-number {
  width: 131px;
  top: 475px;
  left: 330px;
}
.label-passport-number-onlyRF {
  width: 300px;
  height: 13px;
  top: 480px;
  left: 410px;
}
.error-passport-number {
  width: 178px;
  top: 561px;
  left: 532px;
}
.label-whoPassport {
  width: 92px;
  top: 475px;
  left: 730px;
}
.input-whoPassport {
  top: 498px;
  left: 730px;
}
.error-whoPassport {
  width: 166px;
  top: 561px;
  left: 944px;
}
.label-whenPassport {
  width: 107px;
  top: 586px;
  left: 330px;
}
.input-whenPassport {
  top: 609px;
  left: 330px;
}
.input-whenPassport::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.error-whenPassport {
  width: 178px;
  top: 672px;
  left: 532px;
}
.label-passport-cod {
  top: 586px;
  left: 730px;
  width: 170px;
}
.passport-cod-input {
  top: 609px;
  left: 730px;
}
.error-passport-cod {
  width: 166px;
  top: 672px;
  left: 944px;
}
.heading-photo-data {
  width: 216px;
  top: 707px;
  left: 330px;
}
.label-photo-doc {
  width: 201px;
  height: 18px;
  top: 716px;
  left: 566px;
}
.text-save-data {
  width: 220px;
  height: 48px;
  top: 750px;
  left: 790px;
}
.btn-add-files {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  position: absolute;
  width: 140px;
  height: 60px;
  border: 1px solid #5491F5;
  background: #fff;
  color: #5491F5;
  border-radius: 5px;
}
.btn-add-file-passport-2-3-page {
  top: 742px;
  left: 330px;
}
.btn-add-file-text-plus {
  font-size: 30px;
  line-height: 30px;
}
.btn-add-file-text {
  font-size: 13px;
  line-height: 16px;
}
.btn-add-file-passport-address {
  top: 742px;
  left: 480px;
}
.btn-add-file-passport-selfy {
  top: 742px;
  left: 630px;
}
.error-file-one {
  top: 807px;
  left: 330px;
  width: 139px;
}
.error-file-two {
  top: 807px;
  left: 480px;
  width: 139px;
}
.error-file-three {
  top: 807px;
  left: 630px;
  width: 139px;
}
.btn-next {
  padding: 0px;
  margin: 0px;
  position: absolute;
  width:220px;
  height: 55px;
  background: #5491F5;
  border: none;
  color: #fff;
  border-radius: 5px;
}
.btn-next:disabled {
  background: rgba(84, 145, 245, 50%);;
}
.btn-next:not([disabled]):hover {
  background: #3477E4;
}
.btn-one-page {
  top: 852px;
  left: 890px;
}
.text-btn {
  padding: 0px;
  margin: 0px;
  position: absolute;
  width: 140px;
  height: 20px;
  top: 18px;
  left: 40px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}
.headings {
  padding: 0px;
  margin: 0px;
  position: absolute;
  height: 25px;
  font-size: 25px;
  line-height: 25px;
  color: #484848;
}
.heading-passport-data {
  width: 251px;
  top: 440px;
  left: 329px;
}

/* PageTwo */

.step-heading-text-two {
  width: 219px;
  height: 25px;
  top: 152px;
  left: 331px;
}
.step-heading-hr-two {
  width: 200px;
  height: 2px;
  top: 175px;
  left: 334px;
}
.heading-about-DA {
  width: 460px;
  height: 50px;
  top: 207px;
  left: 330px;
}
.label-address {
  width: 310px;
  top: 329px;
  left: 330px;
}
.address-input {
  padding: 0px;
  margin: 0px;
  position: absolute;
  width: 460px;
  height: 58px;
  top: 352px;
  left: 330px;
}
.error-address {
  width: 166px;
  top: 415px;
  left: 624px;
}
.label-input-rentPrice {
  top: 324px;
  left: 810px;
  width: 165px;
}
.input-rentPrice {
  padding-left: 20px;
  font-size: 18px;
  line-height: 25px;
  margin: 0px;
  position: absolute;
  width: 200px;
  height: 58px;
  top: 352px;
  left: 810px;
  border-radius: 5px;
}
.input-rentPrice:focus {
  outline-color: rgba(66, 133, 244, 50.09%);
}
.error-rentPrice {
  width: 348px;
  height: 30px;
  top: 415px;
  left: 810px;
  line-height: 15px;
  text-align: left;
}
.error-rent-aligh-right {
  left: 870px;
  width: 166px;
  text-align: right;
}

.label-docs {
  width: 98px;
  top: 461px;
  left: 330px;
}
.label-texts{
  padding: 0px;
  margin: 0px;
  position: absolute;
  font-size: 13px;
  line-height: 15px;
  color: #484848;
}
.label-docs-info {
  width: 220px;
  height: 15px;
  top: 485px;
  left: 330px;
}
.error-file-doc {
  width: 140px;
  top: 523px;
  left: 570px;
}
.showInsurance {
  display: block;
  padding: 0px;
  margin: 0px;
  position: absolute;
  width: 121px;
  height: 56px;
  top: 354px;
  left: 1050px;
  font-size: 13px;
  line-height: 14px;
  color: #484848;
}
.noneInsurance {
  display: none;
}
.btn-add-file-doc {
  top: 460px;
  left: 570px;
}
.div-copy-passport {
  padding: 0px;
  margin: 0px;
  position: absolute;
  width: 140px;
  height: 60px;
  top: 460px;
  left: 730px;
  border: 1px solid #5491F5;
  background-color: #fff;
  color: #5491F5;
  border-radius: 5px;
}
.show-none {
  display: none;
}
.text-copy-passport {
  padding: 0px;
  margin: 0px;
  position: absolute;
  width: 140px;
  height: 17.45px;
  top: 497.02px;
  left: 730px;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #5491F5;
}
.delete {
  padding: 0px;
  margin: 0px;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 461px;
  left: 848px;
}
.delete-icon {
  padding: 0px;
  margin: 0px;
  position: absolute;
  width: 7.5px;
  height: 7.5px;
  top: 6.25px;
  left: 6.25px;
  color: #2F8FFF;
}
.div-copy-passport-two {
  padding: 0px;
  margin: 0px;
  position: absolute;
  width: 140px;
  height: 60px;
  top: 460px;
  left: 890px;
  border: 1px solid #5491F5;
  background-color: #fff;
  color: #5491F5;
  border-radius: 5px;
}
.text-copy-passport-two {
  padding: 0px;
  margin: 0px;
  position: absolute;
  width: 140px;
  height: 17.45px;
  top: 497.02px;
  left: 890px;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #5491F5;
}
.delete-two {
  padding: 0px;
  margin: 0px;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 461px;
  left: 1008px;
  color: #2F8FFF;
}
.btn-two-page {
  top: 570px;
  left: 890px;
}
.btn-back {
  padding: 0px;
  margin: 0px;
  position: absolute;
  width: 220px;
  height: 55px;
  top: 570px;
  left: 650px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #4285F4;
  border: 1px solid #5491F5;
  background-color: #fff;
  border-radius: 5px;
}
.check-all {
  padding: 0px;
  margin: 0px;
  position: absolute;
  width: 22px;
  height: 22px;
}
.check-birthday {
  top: 249px;
  left: 1077px;
}
.check-email {
  top: 360px;
  left: 678px;
}
.check-number {
  top: 516px;
  left: 678px;
}
.check-who {
  top: 516px;
  left: 1078px;
}
.check-cod {
  top: 627px;
  left: 1078px;
}
.check-when{
  top: 627px;
  left: 678px;
}
.check-rent {
  top: 370px;
  left: 998px;
}
.icon-check {
  padding: 0px;
  margin: 0px;
  position: absolute;
  width: 14px;
  height: 10px;
  top: 6px;
  left: 4px;
  color: #4285F4;
  text-align: center;
}
.check-none {
  display: none;
}