.input-email {
  position: absolute;
  width: 380px;
  height: 58px;
  Top: 342px;
  left: 330px;
  border: 1px #CCD6D8 solid;
  padding: 0px;
  margin: 0px;
}
.label-email {
  position: absolute;
  top: 319px;
  left: 330px;
  width: 52px;
  height: 18px;
  font-size: 18px;
  color: #484848;
  line-height: 18px;
}
.label-email-two {
  position: absolute;
  width: 300px;
  height: 18px;
  top: 321px;
  left: 410px;
  font-size: 13px;
  color:#979797;
  text-align: right;
}

.btn-next {
  position: absolute;
  width:220px;
  height: 55px;
  top: 852px;
  left: 890px;
  background: #3477E4;
  border: none;
  color: #fff;
}
.text-btn-next {
  position: absolute;
  width: 140px;
  height: 20px;
  top: 18px;
  left: 40px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}
